.App {
  width: 100vw;
}
.color-selector {
  display: flex;
  flex-direction: row;
}
.Cubecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.firstdivCon {
  background: rgb(226, 225, 225);
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 15px;
}
.header {
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.step1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.npm {
  background-color: white;
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px gray;
}
/* .npm1 {
  background-color: white;
  width: 60rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px gray;
} */

.npm1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px gray;
}
.originalCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sizeSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.codeblock {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.code-cube {
  background-color: white;
  font-size: 0.8rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 10px gray;
}

@media only screen and (max-width: 800px) {
  .color-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstdivCon {
    background: rgb(226, 225, 225);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
  }
  .codeblock {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .code-cube {
    background-color: white;
    font-size: 0.4rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 10px gray;
  }
}
